/* tags */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0.2em 0 0.1em 0;
    padding-top: .5em;
}

h1 {
    font-size: 1.5em;
    color: #888;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #AAA;
}

h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #AAA;
    width: 55em;
    max-width: 100%;
}

a {
    color: #006;
}

/* content */
#content-column {
    position: absolute;
    top: 1em;
    left: 10em;
}

#content {
    min-height: 140px;
    width: calc(100% - 2em);
    max-width: 60em;
    padding: 0 1em 1em 1em;
    border-left: 1px solid #CCC;
    background: #FFF;
    font-size: 0.9em;
}

#content p {
    max-width: 100%;
}

.section {
    border: 1px solid #CCC;
    padding: 0.5em;
    margin-bottom: 1em;
}

/*
    Vue.js loading state

    Loading indicator from loading.io, released un CC0 license.
*/
.loading-indicator {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    color: #1c4c5b;
    box-sizing: border-box;
}

.loading-indicator div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: loading-indicator 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.loading-indicator div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-indicator div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-indicator div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-indicator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

[v-cloak] > *:not(.loading-indicator) {
    display: none;
}

/* sidebar */
#sidebar {
    margin-top: 3em;
    min-height: 75%;
    width: 12em;
    background: url("../images/sidebar-bg.svg") no-repeat top right;
    color: #666;
}

#sidebar h4 {
    margin: 1.5em 0 0.2em 0;
    width: 10em;
    border-bottom: 1px solid #CCC;
    font-size: 0.8em;
    font-weight: normal;
}

#sidebar a {
    color: #77B;
    border: 0;
}

#sidebar ul, #sidebar li {
    margin: 0;
    padding: 0;
    list-style: none none;
    font-size: 0.9em;
    color: #888;
}

#sidebar li {
    margin-left: 1em;
}

/* quick navigation */

#quickNav {
    position: fixed;
    bottom: 3em;
    width: 12em;
}

@media (max-height: 400px) {
    #quickNav {
        position: unset;
        width: auto;
    }
}

/* footer */
#footer {
    margin: 1em;
    padding: 1em;
    font-size: 0.6em;
    color: gray;
}

#footer a {
    color: #669;
}

/* mobile fixes */
@media (min-width: 1020px) and (max-width: 1199px) {
    #quickNav,
    #sidebar {
        width: 7em;
        background: none;
    }

    #quickNav h4 {
        width: unset;
    }

    #content-column {
        left: 7em;
    }
}

@media (max-width: 1019px) {
    h1 {
        margin-top: 0;
    }

    #sidebar {
        margin-top: 0;
        width: auto;
        min-height: 0;
        background: none;
    }

    #content-column {
        position: inherit;
        top: inherit;
        left: inherit;
    }

    #quickNav {
        position: unset;
        width: auto;
    }
}
